@model MyApp.Models.AdminProfile

@{
    ViewBag.Title = "Admin Profile";
}
<style>
    .element {
        float: right;
        border: 1px solid #B9B9B9;
        width: 280px;
        min-height: 150px;
        overflow: auto;
        padding: 12.5px;
        position: relative;
        margin-bottom: 2em;
    }
</style>

@if (Model == null)
{

    <p class="mt-3 text-center">Please provide your all information!</p>

}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="container mt-5 table-bordered p-5 col-lg-10 col-sm-12">
    <div class="content">
        <div class="row">
            @if (User.IsInRole("Admin"))
            {
                //@ViewBag.Success.UserName
            }


            <div class="col-md-8 col-sm-12 col-lg-8">
                <h2 style="color:lightseagreen">@Model.user.UserName</h2>

                <span>From </span><a style="font-size:13px" href="https://just.edu.bd/">Jashore University Of Science & Technology</a>
                <br /><br />
                <p>Email : @Model.user.UserEmail</p>
                <p>@Html.ActionLink("Change Password", "ChangePassword", "LoginRegistration")</p>
                @if (User.IsInRole("Admin"))
                {
                    <p>@Html.ActionLink("Room allocation", "GroupByRoom", "ShowDetails")</p>
                    <p>@Html.ActionLink("Change Admin Registraion Password", "ChanegAdminRegPassword", "Admin")</p>
                    <p>@Html.ActionLink("All Meal Admin Request", "AllMealAdminRequest", "Admin")</p>
                    <p>@Html.ActionLink("Current Meal Admins", "ShowMealAdmins", "Admin")</p>
                }
            </div>
            <div class="col-md-4 col-sm-12 col-lg-3 ">

                <div class="text-center element">
                    <p><img style="height:190px; width:200px" src="~/Content/images/@Model.userImage.Image" /></p>

                    @Html.ActionLink("Change Photo", "UploadImage", "InsertInformation")
                </div>
                <p style="text-align:right; font:100">@Html.ActionLink("Request for meal admin", "MealAdminRegistraion", "Admin")</p>

            </div>

        </div>
    </div>
</div>

