@model IEnumerable<MyApp.Models.UserProfiles>

@{
    ViewBag.Title = "GetStudentData";
}

<h2>GetStudentData</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@*<section id="tabs" class="project-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Project Tab 1</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Project Tab 2</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Project Tab 3</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                            @foreach (var item in Model)
                            {
                                <div style="border:1px solid; margin:4px; padding:5px; height:400px; width:358px">
                                    <div style="border:1px solid; margin:4px; height:200px; width:200px">
                                        <p><img style="height:190px; width:190px" src="~/Content/images/@item.userImage.Image" /></p>
                                    </div>
                                    <p> @item.student.StudentName</p>
                                    <p>Father  Name : @item.student.FatherName</p>
                                    <p>Mother  Name : @item.student.MotherName</p>
                                    <p>Phone Number : @item.student.MobileNumber</p>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p>hello</p>
                    </div>


                </div>
            </div>
        </div>
    </section>*@


<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Basic info</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Address</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Academic info</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        @foreach (var item in Model)
                        {
                            <div style="border:1px solid; margin:4px; padding:5px; height:400px; width:358px">
                                <div style="border:1px solid; margin:4px; height:200px; width:200px">
                                    <p><img style="height:190px; width:190px" src="~/Content/images/@item.userImage.Image" /></p>
                                </div>
                                <p> @item.student.StudentName</p>
                                <p>Father  Name : @item.student.FatherName</p>
                                <p>Mother  Name : @item.student.MotherName</p>
                                <p>Phone Number : @item.student.MobileNumber</p>
                            </div>
                        }
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                        @foreach (var item in Model)
                        {
                            <div style="border:1px solid; margin:4px; padding:5px; height:400px; width:358px">                              
                                <p>Phone Number : @item.district.DistrictName</p>
                                <p>Father  Name : @item.address.P_VillageName</p>
                                <p>Mother  Name : @item.address.P_PostOffice</p>

                            </div>
                        }

                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                        @foreach (var item in Model)
                        {
                            <div style="border:1px solid; margin:4px; padding:5px; height:400px; width:358px">
                                <p>Phone Number : @item.department.DeptName</p>
                                <p>Father  Name : @item.departmentInfo.Session</p>
                                @*<p>Mother  Name : @item.registrationForm.RollNumber</p>*@
                                <p>Mother  Name : @item.departmentInfo.Cgpa</p>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>