@model IEnumerable<MyApp.Models.UserProfiles>

@{
    ViewBag.Title = "GetStudentData";
}

<h2 class="mt-3">Profile</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@






<section id="tabs" class="project-tab border border-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Basic info</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Address</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Academic info</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        @foreach (var item in Model)
                        {
                            <div class="border border-success font-weight-bold" style="margin:4px; padding:5px; height:400px; width:350px;background-color:white">
                                <div class="border border-success" style=" margin:4px; height:200px; width:220px">
                                    <p><img style="height:190px; width:200px" src="~/Content/images/@item.userImage.Image" /></p>
                                </div>
                                <p> @item.student.StudentName</p>
                                <p>Father  Name : @item.student.FatherName</p>
                                <p>Mother  Name : @item.student.MotherName</p>
                                <p>Phone Number : @item.student.MobileNumber</p>
                            </div>
                        }
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="margin-left:351px">

                        @foreach (var item in Model)
                        {
                            <div class="border border-success  font-weight-bold" style=" margin:4px; padding:5px; height:400px; width:340px;background-color:white">                              
                                <p>District Name : @item.district.DistrictName</p>
                                <p>Village  Name : @item.address.P_VillageName</p>
                                <p>Post   Office : @item.address.P_PostOffice</p>

                            </div>
                        }

                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="margin-left:702px">

                        @foreach (var item in Model)
                        {
                            <div class="border border-success  font-weight-bold" style=" margin:4px; padding:5px; height:400px; width:340px;background-color:white">
                                <p>Phone Number : @item.department.DeptName</p>
                                <p>Father  Name : @item.departmentInfo.Session</p>
                                @*<p>Mother  Name : @item.registrationForm.RollNumber</p>*@
                                <p>Mother  Name : @item.departmentInfo.Cgpa</p>

                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>