@model IEnumerable<MyApp.Models.UserProfiles>

@{
    ViewBag.Title = "profile";
}

<h2>profile</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{

    <div class="border border-success" style=" margin:4px; height:200px; width:220px">
        <p><img style="height:190px; width:200px" src="~/Content/images/@item.userImage.Image" /></p>
    </div>
    @item.student.StudentName
    <p>Father Name : @item.student.FatherName</p>
    <p>Mother Name : @item.student.MotherName</p>
    <p>Phone Number : @item.student.MobileNumber</p>
    <p>Department Name : @item.department.DeptName</p>
    <p>District Name : @item.district.DistrictName</p>
    <p>Room Number : @item.room.RoomNumber</p>
}


