@model MyApp.Models.Room

@{
    ViewBag.Title = "ShowRoom";
}

<h2>ShowRoom</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmptySeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmptySeat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
