@model IEnumerable<MyApp.Models.StudentListModel>

@{
    ViewBag.Title = "StudentList";
}
    <style>
        h3 {
            color:black;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    </style>

<div class="mt-5 text-center card">
    <div class="card-header bg-success">
        <h3>
            All Students List
        </h3>

    </div>

</div>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-bordered">
    <tr>
        <th>
            Student Name
        </th>
        <th>
            Department
        </th>
        <th>
            Session
        </th>
        <th>
            Room No
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Payment
        </th>
        <th>
            Hall EntryDate
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.student.StudentName, "GetStudentData", "ShowDetails", new { UserName = item.user.UserName }, htmlAttributes: null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departmentInfo.Session)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.MobileNumber)
            </td>
            <td>
                @if (@item.student.PaymentId == null)
                {
                    <p> Incomplete </p>
                }
                else
                {
                    <p> Complete </p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallEntryDate)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
