@model IEnumerable<MyApp.Models.Student>
@*@{
        ViewBag.Title = "Search";
    }

    <h2>Search</h2>*@
<br /><br />
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="input-group">

        @Html.TextBox("searching", null, new { @class = "form-control" })
        <span class="input-group-btn" style="margin-left:2px">
            <input type="submit" class="btn btn-secondary" value="Search">
        </span>
    </div>

    @*@Html.TextBox("searching", null, new { @class = "form-control" })<input type="submit" value="submit" class="btn btn-primary">*@

}
<br />

<table class="table table-striped border">
    <thead>
        <tr>
            <th>StudentName</th>
            <th>UserName</th>
            @*<th>DepartMent</th>*@
            <th>Room No</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No match searching data
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>@item.StudentName</td>
                    <td>@item.User.UserName</td>
                    @*<td>@item.DepartmentInfo.Department.DeptName.</td>*@
                    <td>@item.Room.RoomNumber</td>

                </tr>
            }
        }
    </tbody>

</table>






@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@





@*<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Project Tab 1</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Project Tab 2</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Project Tab 3</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Father Name</th>
                                    <th>Mother Name</th>
                                    <th>Mobile Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Work 1</a></td>
                                    <td>Doe</td>
                                    <td></td>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.StudentName
                                        </td>
                                        <td>
                                            @item.FatherName
                                        </td>
                                        <td>
                                            @item.MotherName
                                        </td>
                                        <td>
                                            @item.MobileNumber
                                        </td>

                                    </tr>


                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>*@
