@model MyApp.Models.SearchingModel

@{
    ViewBag.Title = "Search";
}



    <div class="container mt-4">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">

                    
                        @*@Html.LabelFor(model => model.SearchId, "Select search type")*@
                        @Html.DropDownListFor(model => model.SearchId, new SelectList(Model.search, "SearchId", "SearchName"), "Select Search Type", new { @class = "form-control" })
                    
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.searching)*@

                    <div class="input-group">

                        @Html.EditorFor(model => model.searching, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-btn" style="margin-left:2px">
                            <input type="submit" class="btn btn-secondary" value="Search">
                        </span>
                        @*@Html.ValidationMessageFor(model => model.searching, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
        }


        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>StudentName</th>
                    <th>UserName</th>
                    @*<th>DepartMent</th>*@
                    <th>Room No</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.searchings.Count() == 0)
                {
                    <tr>
                        <td colspan="3" style="color:red">
                            No match searching data
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.searchings)
                    {
                        <tr>

                            <td>@item.student.StudentName</td>
                            <td>@item.user.UserName</td>
                            @*<td>@item.DepartmentInfo.Department.DeptName.</td>*@
                            <td>@item.room.RoomNumber</td>

                        </tr>
                    }
                }
            </tbody>

        </table>

    </div>

