@model MyApp.Models.Account

@*@{
    ViewBag.Title = "ShowBalance";
}*@



<div class="container mt-5">
    <h4 class="text-info" >Account Balance</h4>
    
    <dl >
        @*<dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>*@

        <dd>
            <span >Your account balance is <b> @Html.DisplayFor(model => model.Balance) TK.</b></span>
        </dd>


    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
