@model MyApp.Models.changePasswordModel


@if (ViewBag.Success != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Success");
            };
    </script>
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-7 offset-lg-2 offset-md-1 offset-sm-1">
            <div class="card">
                <div class="card-header">


                    <h2 class="display-5 text-center">
                        <strong>Change Password</strong>
                    </h2>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                         
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                              
                                <div class="col-md-10 offset-lg-3 offset-md-1">
                                    @Html.LabelFor(model => model.currentPassword,"Current Password")
                                    @Html.EditorFor(model => model.currentPassword, new { htmlAttributes = new { @class = "form-control",@type="Password" } })
                                    @Html.ValidationMessageFor(model => model.currentPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                              
                                <div class="col-md-10 offset-lg-3 offset-md-1">
                                    @Html.LabelFor(model => model.newPassword,"New Password")
                                    @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "form-control",@type="Password" } })
                                    @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                               
                                <div class="col-md-10 offset-lg-3 offset-md-1">
                                    @Html.LabelFor(model => model.confirmPassword,"Confirm Password")
                                    @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control",@type="Password" } })
                                    @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" col-md-10 offset-md-1 offset-lg-3">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
