@model MyApp.Models.MealAdminReg

<div class="container mt-4">
    <div class="row">
        <div class="col-md-7 offset-lg-2 offset-md-1 offset-sm-1">
            <div class="card">
                <div class="card-header">


                    <h2 class="display-5 text-center">
                        <strong> Meal Admin Registration</strong>
                    </h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                           
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group" hidden>
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 offset-lg-3 offset-md-1">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                               
                                <div class="col-md-10 offset-lg-3 offset-md-1">
                                    @Html.LabelFor(model => model.Name)
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                              
                                <div class="col-md-10 offset-lg-3 offset-md-1">
                                    @Html.LabelFor(model => model.DepartmentName,"Department Name")
                                    @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                              
                                <div class="col-md-10 offset-lg-3 offset-md-1">
                                    @Html.LabelFor(model => model.MobileNumber,"Mobile Number")
                                    @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" hidden>
                                @Html.LabelFor(model => model.Flag, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Flag, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Flag, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" col-md-10 offset-md-1 offset-lg-3">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
