<!DOCTYPE html>
<html>
<head>

    <style>
        .navbar {
            background: #292b2c;
            opacity: 0.9;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-custom  font-weight-normal" style="font-size:15px">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand">
                    <span>
                        <img src="~/Images/Just_logo.jpg" height="30" />
                    </span>JUST SMRH

                </a>

                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>


                    @*Dropdoun menu*@

                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Information<b class="caret"></b></a>
                        <ul class="dropdown-menu py-1 px-1" style="background-color:black;text-decoration:none">

                            <li class="nav-item">@Html.ActionLink("Address", "Addresses", "Information", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Department", "Departments", "Information", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("District", "Districts", "Information", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Room", "Rooms", "Information", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Student", "Student", "Information", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("StudentDeptInfo", "StudentDepartmentInformation", "Information", null, new { @class = "nav-link" })</li>
                        </ul>
                    </li>

                    @*Update information*@

                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Update<b class="caret"></b></a>
                        <ul class="dropdown-menu py-1 px-1" style="background-color:black">
                            <li class="nav-item">@Html.ActionLink("Student", "StudentDetails", "Update", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Address", "AddresDetails", "Update", null, new { @class = "nav-link" })</li>

                        </ul>
                    </li>


                    @*About Meal*@

                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">MealSystem<b class="caret"></b></a>
                        <ul class="dropdown-menu py-1 px-1" style="background-color:black">
                            <li class="nav-item">@Html.ActionLink("Acount", "Account", "MealManagement", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("AddMeal", "AddMeal", "MealManagement", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("ShowMeal", "AllMealDetails", "MealManagement", null, new { @class = "nav-link" })</li>

                        </ul>
                    </li>



                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink(@User.Identity.Name, "Profile", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "LoginRegistration", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "LoginRegistration", null, new { @class = "nav-link" })</li>
                    }

                </ul>

            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <div class="container body-content">
        @RenderBody()

        <footer style="margin-top:3px">
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
      
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>





@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
