<!DOCTYPE html>
<html>
<head>

    @*<style>
        .navbar {
            background: #292b2c;
            opacity: 0.9;
        }
    </style>*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>



    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-custom  font-weight-normal" style="font-size:15px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" style="color:white">
                    <span>
                        <img src="~/Content/Images/Just_logo.jpg" height="30" />
                    </span>JUST SMRH

                </a>

                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>



            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    @*<li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>*@
                    @*<li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>*@
                    <li class="nav-item">@Html.ActionLink("Searching", "Search", "Filter", null, new { @class = "nav-link" })</li>





                    @if (User.Identity.IsAuthenticated)
                    {
                        @*Dropdoun menu*@

                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Information<b class="caret"></b></a>
                            <ul class="dropdown-menu py-1 px-1" style="background-color:black;text-decoration:none">
                                @if (User.IsInRole("Admin") == false)
                                {
                                    <li class="nav-item">@Html.ActionLink("My Info", "InsertStudentInfo", "InsertInformation", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Department Info", "InsertUserDepartmentInfo", "InsertInformation", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Address Info", "InsertAddress", "InsertInformation", null, new { @class = "nav-link" })</li>
                                }
                                <li class="nav-item">@Html.ActionLink("My Picture", "UploadImage", "InsertInformation", null, new { @class = "nav-link" })</li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item" style="width:auto">@Html.ActionLink("Add new dept", "InsertDepartmentName", "InsertInformation", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item" style="width:auto">@Html.ActionLink("Add new district", "InsertDistrictName", "InsertInformation", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item" style="width:auto">@Html.ActionLink("Add new room", "InsertRoomInfo", "InsertInformation", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item" style="width:auto">@Html.ActionLink("Upload notices", "FileUpload", "File", null, new { @class = "nav-link" })</li>
                                }
                            </ul>
                        </li>

                        @*Update information*@
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">@Html.ActionLink("Update", "UpdateList", "Update", null, new { @class = "nav-link" })</li>

                        }
                        //StudentList
                        if (User.IsInRole("Admin") || User.IsInRole("MealAdmin") || User.IsInRole("Student"))
                        {
                            <li class="nav-item">@Html.ActionLink("Studenslist", "Studentslist", "ShowDetails", null, new { @class = "nav-link" })</li>
                        }

                        if (User.IsInRole("MealAdmin"))
                        {
                            @*About Meal*@
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">MealSystem<b class="caret"></b></a>
                                <ul class="dropdown-menu py-1 px-1" style="background-color:black">

                                    <li class="nav-item">@Html.ActionLink("All Account", "AllAcount", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Show Balance", "ShowBalance", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Add Meal", "AddMeal", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Update Meal", "UpdateMeal", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Add Meal Rate", "AddMealRate", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Show Meal Rate", "ShowMealRate", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Today Meals", "ShowTodayAllMeal", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("My Transaction", "ShowTransaction", "MealManagement", null, new { @class = "nav-link" })</li>

                                </ul>
                            </li>

                        }
                        else
                        {
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">MealSystem<b class="caret"></b></a>
                                <ul class="dropdown-menu py-1 px-1" style="background-color:black">

                                    <li class="nav-item">@Html.ActionLink("Show Balance", "ShowBalance", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Add Meal", "AddMeal", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Update Meal", "UpdateMeal", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Show Meal Rate", "ShowMealRate", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Today Meals", "ShowTodayAllMeal", "MealManagement", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("My Transaction", "ShowTransaction", "MealManagement", null, new { @class = "nav-link" })</li>


                                </ul>
                            </li>

                        }

                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">@Html.ActionLink(@User.Identity.Name, "AdminProfile", "ShowDetails", null, new { @class = "nav-link" })</li>

                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink(@User.Identity.Name, "profile", "ShowDetails", null, new { @class = "nav-link" })</li>
                        }
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "LoginRegistration", null, new { @class = "nav-link" })</li>

                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "LoginRegistration", null, new { @class = "nav-link" })</li>
                    }

                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-left" style="margin-top:8px;">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                        {
                            <ul class="nav navbar-nav">
                                <li>@Html.TextBox("id", ViewBag.CurrentFilter as string)</li>
                                <li><input type="submit" value="Search" /></li>
                            </ul>
                        }
                    </div>
                }
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <div class="container body-content">
        @RenderBody()

        <footer style="margin-top:3px">
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@

        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>





@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
