@model MyApp.Models.Room

@{
    ViewBag.Title = "InsertRoomInfo";
}

@if (ViewBag.Success != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Success");
            };
    </script>
}


<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-sm-10 offset-lg-3 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        <h2 class="display-5 text-center">
                            <strong> Room</strong>
                        </h2>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">

                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.RoomNumber)
                                        @Html.EditorFor(model => model.RoomNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.TotalSeat)
                                        @Html.EditorFor(model => model.TotalSeat, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TotalSeat, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.EmptySeat)
                                        @Html.EditorFor(model => model.EmptySeat, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmptySeat, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        <input type="submit" value="Submit" class="btn btn-success btn-block" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
