@model MyApp.Models.ImageUploadModel

@{
    ViewBag.Title = "UploadImage";
}


    <div class="mt-4 table table-bordered p-3">

        @using (Html.BeginForm("UploadImage", "InsertInformation", FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>ImageUpload</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ImagePath,"Select Image")
                    </div>
                    <div class="editor-field">
                        <input id="ImagePath" title="Upload a Profile image"
                               type="file" name="file" />
                    </div>
                    <p class="mt-1"><input type="submit" value="Upload" class="btn btn-secondary" /></p>
                </fieldset>
            </div>
        }
    </div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
