@model MyApp.Models.AddressInfoModel

@{
    ViewBag.Title = "UpdateAddressInfo";
}


<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-sm-10 offset-lg-3 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        <h2 class="display-5 text-center">
                            <strong> Update Address</strong>
                        </h2>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                               
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group" hidden>
                                    @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                   
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.P_DistrictId)
                                        @Html.DropDownListFor(model => model.P_DistrictId, new SelectList(Model.districts, "DistrictId", "DistrictName"), "Select District",new { @class = "form-control"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.P_VillageName)
                                        @Html.EditorFor(model => model.P_VillageName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.P_VillageName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                   
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.P_PostOffice)
                                        @Html.EditorFor(model => model.P_PostOffice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.P_PostOffice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                   
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.T_DistrictId)
                                        @Html.DropDownListFor(model => model.T_DistrictId, new SelectList(Model.districts, "DistrictId", "DistrictName"), "Select District",new { @class = "form-control"})
                                    </div>
                                </div>

                                <div class="form-group">
                                   
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.T_VillageName)
                                        @Html.EditorFor(model => model.T_VillageName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.T_VillageName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                  
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        @Html.LabelFor(model => model.T_PostOffice)
                                        @Html.EditorFor(model => model.T_PostOffice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.T_PostOffice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 offset-1 offset-lg-2">
                                        <input type="submit" value="Create" class="btn btn-success btn-block" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
